body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#050b18;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#081224;
}

.logo{
    height:60px;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    position:relative;
}

.hero img{
    width:100%;
    height:500px;
    object-fit:cover;
}

.hero-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.hero-text h1{
    font-size:60px;
    color:#00bfff;
}

.games{
    padding:40px;
}

.game-card{
    display:inline-block;
    width:260px;
    margin:20px;
    text-align:center;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    overflow:hidden;

    transition:.35s ease;

    backdrop-filter:blur(10px);
}

.game-card img{
    width:100%;
    height:320px;
    object-fit:cover;
    border-radius:18px 18px 0 0;
}
button{
    margin:18px;

    background:linear-gradient(90deg,#00d9ff,#0099ff);

    color:white;

    border:none;

    padding:12px 28px;

    border-radius:30px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 0 15px #00d9ff;
}

button:hover{

    transform:scale(1.08);

    box-shadow:
        0 0 20px #00d9ff,
        0 0 40px #00d9ff;
}
.game-card{
    transition: 0.3s;
}

.game-card:hover{
    transform:translateY(-12px) scale(1.03);

    box-shadow:
        0 0 20px #00d9ff,
        0 0 45px rgba(0,217,255,.45);

    border-color:#00d9ff;
}
header{
    position: sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 55px;

    background:rgba(8,12,25,.72);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.08);
}
