body{
    background:#050b18;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
    margin:0;
}

header{
    padding:50px 20px;
    background:#0a1428;
}

h1{
    color:#00aaff;
}

main{
    padding:50px 20px;
}
